Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

Update structural_bioinformatics.md
  pages/your_domain/structural_bioinformatics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update xnat_pic_assembly.md
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

Update proteomics.md
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update existing_data.md
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

data security page: update links to faircookbook
  pages/your_tasks/data_security.md
Owners: @DanFaria, @floradanna, @nazeeefa

linking pages
  pages/your_domain/human_data.md
  pages/your_tasks/GDPR_compliance.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell, @floradanna, @nazeeefa

data security: update of links to DSW
  pages/your_tasks/data_security.md
Owners: @DanFaria, @floradanna, @nazeeefa

data security: add description
  pages/your_tasks/data_security.md
Owners: @DanFaria, @floradanna, @nazeeefa

fix indent
  pages/your_tasks/data_security.md
Owners: @DanFaria, @floradanna, @nazeeefa

Conclusion of day 3 RDMkit hackathon activities
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update affiliation and email
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Updates to publish Ireland national resources page
  _data/sidebars/data_management.yml
Owners: @bedroesb

Update data_management.yml
  _data/sidebars/data_management.yml
Owners: @bedroesb

Revert "revert changes"
  pages/national_resources/no_resources.md
  pages/tool_assembly/xnat_pic_assembly.md
  pages/your_domain/proteomics.md
  pages/your_tasks/existing_data.md
Owners: @lauportell, @nazeeefa, @korbinib, @bianchini88, @DanFaria, @pinarpink, @floradanna

Revert "Update existing_data.md"
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

Revert "Update proteomics.md"
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Revert "Update xnat_pic_assembly.md"
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

Revert "Update existing_data.md"
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

Revert "Update no_resources.md"
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Revert "Update proteomics.md"
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Revert "Update xnat_pic_assembly.md"
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

Revert "Update existing_data.md"
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

Revert "Update proteomics.md"
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Revert "Update xnat_pic_assembly.md"
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml (#1272)
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update affiliation and email (#1269)
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

New your task page: Ethical aspects
  _data/sidebars/data_management.yml
  pages/your_tasks/ethics.md
Owners: @bedroesb, @DanFaria, @floradanna, @nazeeefa

tools
  _data/tool_and_resource_list.yml
  pages/national_resources/no_resources.md
  pages/tool_assembly/ifb_assembly.md
  pages/tool_assembly/nels_assembly.md
  pages/tool_assembly/plant_phenomics_assembly.md
  pages/tool_assembly/transmed_assembly.md
  pages/tool_assembly/tsd_assembly.md
  pages/tool_assembly/xnat_pic_assembly.md
  pages/your_tasks/machine_actionability.md
Owners: @wittigue, @bedroesb, @lauportell, @nazeeefa, @korbinib, @bianchini88, @DanFaria, @floradanna

Update xnat_pic_assembly.md
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

cleanup
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

1 time ireland
  _data/sidebars/data_management.yml
Owners: @bedroesb

No placehoders
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml (#1279)
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update si_resources.md
  pages/national_resources/si_resources.md
Owners: @lauportell, @nazeeefa

Update CONTRIBUTORS.yaml (#1277)
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

fix date news
  _data/news.yml
Owners: @bedroesb
