Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

Update data_protection.md
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

tools in domain pages
  _data/tool_and_resource_list.yml
  pages/your_domain/plant_sciences.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

typo fix
  pages/your_domain/plant_sciences.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

update tools
  _data/tool_and_resource_list.yml
  pages/your_domain/microbial_biotechnology.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Add definition of data in the data life cycle landing page
  pages/data_life_cycle.md
Owners: @bedroesb

Make minor edits to solutions
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update si_resources.md
  pages/national_resources/si_resources.md
Owners: @lauportell, @nazeeefa

Update costs_data_management.md
  pages/your_tasks/costs_data_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

First draft of README
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Add contributors
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update links
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update info on costs and sensitive data
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Add link to sensitive_data
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

Add text to solutions
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Fix typo
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Proposed rephrasing
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Fix typo and add consistency
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Add link to README section on metadata page
  pages/your_tasks/data_organisation.md
Owners: @DanFaria, @floradanna, @nazeeefa

Fix typo
  pages/your_tasks/data_organisation.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa
