Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @MijkeJetten, @wittigue, @smza, @korbinib, @frederikcoppens, @CaroleGoble, @roper79

Fix broken link to sensitive_data
  pages/your_domain/human_data/human_data.md
Owners: @DanFaria, @pinarpink

Fix broken link to sensitive_data (#615)
  pages/your_domain/human_data/human_data.md
Owners: @DanFaria, @pinarpink

DMP Canvas Generator update (#608)
  pages/your_problem/data_management_plan.md
Owners: @DanFaria, @floradanna

Update existing_data.md
  pages/your_problem/existing_data.md
Owners: @DanFaria, @floradanna

added links to (national) tool assemblies for sensitive data
  pages/your_domain/human_data/human_data.md
Owners: @DanFaria, @pinarpink

Added layers
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

Update NO_TSD_assembly.md
  pages/tool_assembly/NO_TSD_assembly.md
Owners: @korbinib

added links to (national) tool assemblies for sensitive data (#618)
  pages/your_domain/human_data/human_data.md
Owners: @DanFaria, @pinarpink

plain svg version
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

FEGA description replaced with EGA description
  pages/your_domain/human_data/human_data.md
Owners: @DanFaria, @pinarpink

FEGA description replaced with EGA description (#621)
  pages/your_domain/human_data/human_data.md
Owners: @DanFaria, @pinarpink

YAN interation
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

Update optional_template_infrastructure_tool_assembly.svg
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

DMP icon
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

optional_template_infrastructure_tool_assembly.svg (#612)
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

tool update
  _data/main_tool_and_resource_list.csv
  _data/tags.yml
  _data/tool_and_resource_list.yml
Owners: @bedroesb, @wittigue

tool update (#622)
  _data/main_tool_and_resource_list.csv
  _data/tags.yml
  _data/tool_and_resource_list.yml
Owners: @bedroesb, @wittigue

Tag is already added
  _data/tags.yml
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

CC-BY fontawesome
  LICENSE
Owners: @bedroesb

Update NeLS_toolkit.svg to fontawesome
  images/NeLS_toolkit.svg
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update SVG tool assembly noun icons
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

Update SVG tool assembly noun icons (#628)
  images/optional_template_infrastructure_tool_assembly.svg
Owners: @bedroesb

format enumeration (#601)
  pages/contribute/editorial_board_guide.md
  pages/contribute/github_way.md
  pages/contribute/markdown_cheat_sheet.md
Owners: @floradanna, @pinarpink, @bedroesb

remove bash script
  docker_startup.sh
  pages/contribute/working_with_git.md
Owners: @bedroesb, @floradanna, @pinarpink

Local build using Docker (#600)
  pages/contribute/working_with_git.md
Owners: @floradanna, @pinarpink, @bedroesb

country information
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

description info in column
  pages/contribute/editorial_board_guide.md
  pages/contribute/markdown_cheat_sheet.md
Owners: @floradanna, @pinarpink, @bedroesb

top nav improvements
  _config.yml
  _data/topnav.yml
  _includes/contributor-carousel.html
  _includes/contributor-page.html
  _includes/footer.html
  _includes/topnav.html
  assets/css/main.css
Owners: @bedroesb, @martin-nc

Home
  _data/topnav.yml
Owners: @bedroesb

no border in contributor footer
  _includes/contributor-carousel.html
  _includes/contributor-page.html
Owners: @bedroesb

mobile fix
  assets/css/main.css
Owners: @martin-nc, @bedroesb

arrows instead of plus
  assets/css/main.css
Owners: @martin-nc, @bedroesb

title mechanics
  _data/tags.yml
  _includes/toollist.html
Owners: @bedroesb

related pages mechanics
  _includes/contributor-badge-list.html
  _includes/page-metadata.html
  _layouts/page.html
Owners: @bedroesb

code fixes
  _includes/page-metadata.html
  _includes/toollist.html
Owners: @bedroesb

fairsharing fix
  _data/main_tool_and_resource_list.csv
  _data/tool_and_resource_list.yml
  _includes/toollist.html
  var/tool_table2yaml.py
Owners: @bedroesb, @wittigue

documentation update
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

arrows instead of plus (#630)
  assets/css/main.css
Owners: @martin-nc, @bedroesb

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Different areas
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink
/pages/your_problem       @DanFaria @floradanna
/pages/your_role       @MijkeJetten @pinarpink
/pages/rdm_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib
/pages/your_domain       @DanFaria @pinarpink
/pages/about/about.md       @frederikcoppens @CaroleGoble
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble
/assets       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @roper79 @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
