Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update structural_bioinformatics.md
  pages/your_domain/structural_bioinformatics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update structural_bioinformatics.md
  pages/your_domain/structural_bioinformatics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update structural_bioinformatics.md (#1268)
  _data/CONTRIBUTORS.yaml
  _data/tool_and_resource_list.yml
  pages/your_domain/structural_bioinformatics.md
Owners: @bedroesb, @wittigue, @DanFaria, @pinarpink, @bianchini88, @lauportell

fix urls (#1373)
  pages/your_role/data_steward.md
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

Update plant_sciences.md
  pages/your_domain/plant_sciences.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update plant_sciences.md
  pages/your_domain/plant_sciences.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update google_doc_way.md
  pages/contribute/google_doc_way.md
Owners: @floradanna, @pinarpink, @bedroesb

improve readibility and clarity
  pages/contribute/github_way.md
Owners: @floradanna, @pinarpink, @bedroesb

Improve readibility and clarity
  pages/contribute/github_way.md
Owners: @floradanna, @pinarpink, @bedroesb

Simplify how to contribute page
  pages/contribute/how_to_contribute.md
Owners: @floradanna, @pinarpink, @bedroesb

Create ways_to_contribute.md
  pages/contribute/ways_to_contribute.md
Owners: @floradanna, @pinarpink, @bedroesb

Update contribute navigation
  _data/sidebars/contribute.yml
Owners: @bedroesb

correct typos
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

correct typos
  pages/contribute/style_guide.md
Owners: @martin-nc

correct typos
  pages/contribute/preview_changes.md
Owners: @floradanna, @pinarpink, @bedroesb

correct typos
  pages/contribute/editors_checklist.md
Owners: @floradanna, @pinarpink, @bedroesb

correct typos and remove toc
  pages/contribute/copyright.md
Owners: @martin-nc

move dataplan
  pages/national_resources/de_resources.md
Owners: @lauportell, @nazeeefa

leave opidor as a national resource and not a tool
  _data/tool_and_resource_list.yml
  pages/your_domain/plant_sciences.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

DMP for plant sciences (#1246)
  _data/tool_and_resource_list.yml
  pages/national_resources/de_resources.md
  pages/tool_assembly/plant_genomics_assembly.md
  pages/tool_assembly/plant_phenomics_assembly.md
  pages/your_domain/plant_sciences.md
Owners: @wittigue, @bedroesb, @lauportell, @nazeeefa, @korbinib, @bianchini88, @DanFaria, @pinarpink

updating converge mentions
  README.md
  _data/footer.yml
  pages/about/about.md
  pages/about/support.md
Owners: @bedroesb, @frederikcoppens, @CaroleGoble

Create single_cell.md
  pages/your_domain/single_cell.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @frederikcoppens, @CaroleGoble

Update CODE_OF_CONDUCT.md (#1378)
  CODE_OF_CONDUCT.md
Owners: @frederikcoppens, @CaroleGoble

Update single_cell.md
  pages/your_domain/single_cell.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update single_cell.md
  pages/your_domain/single_cell.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update single_cell.md
  pages/your_domain/single_cell.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa
