Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

new version of plugin
  Gemfile
Owners: @bedroesb

shorten affiliation
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

latest plugin
  Gemfile
Owners: @bedroesb

Typo in data_life_cycle.md
  pages/data_life_cycle.md
Owners: @bedroesb

Typo in data_life_cycle.md (#1343)
  pages/data_life_cycle.md
Owners: @bedroesb

New Researcher role text (#1294)
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

New PI page for Your role
  _data/sidebars/data_management.yml
  pages/your_role/pi.md
Owners: @bedroesb, @smza, @pinarpink

Domain page Human Pathogen Genomics (#1263)
  _data/sidebars/data_management.yml
  index.html
  pages/your_domain/human_pathogen_genomics.md
Owners: @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

some fixes
  var/make_headings_capitalized.py
Owners: @bedroesb

related pages fix
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

fix related pages
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

add news item
  _data/news.yml
Owners: @bedroesb

New Data Steward page plus tweaks to other role pages
  pages/your_role/data_steward.md
  pages/your_role/principal_investigator.md
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

Removing the PI page to clean PR
  pages/your_role/principal_investigator.md
Owners: @smza, @pinarpink

no role in tools
  _data/main_tool_and_resource_list.csv
  _data/tool_and_resource_list.yml
Owners: @bedroesb, @wittigue

Update data_steward.md
  pages/your_role/data_steward.md
Owners: @smza, @pinarpink

No role tags for tools (#1347)
  _data/main_tool_and_resource_list.csv
  _data/tool_and_resource_list.yml
  var/make_headings_capitalized.py
Owners: @bedroesb, @wittigue

Toxicology: add tools in text
  pages/your_domain/toxicology_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

typo
  pages/your_domain/toxicology_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Human data: add tools in the text
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

New role page for RSE
  pages/your_role/research_software_engineer.md
Owners: @smza, @pinarpink

Update research_software_engineer.md
  pages/your_role/research_software_engineer.md
Owners: @smza, @pinarpink

New Data Steward page (#1346)
  _data/sidebars/data_management.yml
  pages/your_role/data_steward.md
  pages/your_role/researcher.md
Owners: @bedroesb, @smza, @pinarpink

New Policy maker role text (#1338)
  pages/your_role/data_steward_policy.md
Owners: @smza, @pinarpink

New role page for Research Software Engineer (#1349)
  pages/your_role/research_software_engineer.md
Owners: @smza, @pinarpink

replace legacy links
  pages/national_resources/be_resources.md
  pages/national_resources/cz_resources.md
  pages/national_resources/de_resources.md
  pages/national_resources/ee_resources.md
  pages/national_resources/es_resources.md
  pages/national_resources/fi_resources.md
  pages/national_resources/fr_resources.md
  pages/national_resources/it_resources.md
  pages/national_resources/no_resources.md
  pages/national_resources/pt_resources.md
  pages/national_resources/uk_resources.md
  pages/your_domain/rare_disease_data.md
  pages/your_role/data_steward_infrastructure.md
  pages/your_role/data_steward_policy.md
  pages/your_role/data_steward_research.md
Owners: @lauportell, @nazeeefa, @DanFaria, @pinarpink, @bianchini88, @smza

update sidebar
  _data/sidebars/data_management.yml
Owners: @bedroesb

add redirects
  pages/your_domain/rare_disease_data.md
  pages/your_role/data_steward.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell, @smza

Removed repeated contributors
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

no duplications
  pages/your_domain/human_data.md
  pages/your_tasks/sensitive_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell, @floradanna, @nazeeefa

no https://rdmkit.elixir-europe.org/ in url
  pages/your_role/data_steward.md
  pages/your_role/data_steward_policy.md
  pages/your_role/research_software_engineer.md
  pages/your_role/researcher.md
  pages/your_tasks/data_organisation.md
Owners: @smza, @pinarpink, @DanFaria, @floradanna, @nazeeefa

Restructure your role pages (#1350)
  _data/sidebars/data_management.yml
  pages/national_resources/be_resources.md
  pages/national_resources/cz_resources.md
  pages/national_resources/de_resources.md
  pages/national_resources/ee_resources.md
  pages/national_resources/es_resources.md
  pages/national_resources/fi_resources.md
  pages/national_resources/fr_resources.md
  pages/national_resources/it_resources.md
  pages/national_resources/no_resources.md
  pages/national_resources/pt_resources.md
  pages/national_resources/uk_resources.md
  pages/your_domain/rare_disease_data.md
  pages/your_role/data_steward.md
  pages/your_role/data_steward_infrastructure.md
  pages/your_role/data_steward_policy.md
  pages/your_role/data_steward_research.md
  pages/your_role/research_software_engineer.md
  pages/your_role/researcher.md
  pages/your_tasks/data_organisation.md
Owners: @bedroesb, @lauportell, @nazeeefa, @DanFaria, @pinarpink, @bianchini88, @smza, @floradanna

rename policy maker
  pages/your_role/policy_maker.md
Owners: @smza, @pinarpink

Fix some garbled links
  pages/your_role/research_software_engineer.md
Owners: @smza, @pinarpink

Fix some garbled links (#1352)
  pages/your_role/research_software_engineer.md
Owners: @smza, @pinarpink

Updating side menu
  _data/sidebars/data_management.yml
Owners: @bedroesb

Rename file to longer name
  pages/your_role/principal_investigator.md
Owners: @smza, @pinarpink

Update principal_investigator.md
  pages/your_role/principal_investigator.md
Owners: @smza, @pinarpink

Remove related content
  pages/your_role/policy_maker.md
Owners: @smza, @pinarpink

Remove related content from Researcher role
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
