Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @martin-nc, @DanFaria, @nazeeefa, @marikapop, @diana-pilvar, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

Adding TeSS to the omnipy tool entry
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
  pages/tool_assembly/plant_phenomics_assembly.md
  pages/your_domain/plant_sciences.md
Owners: @wittigue, @bedroesb, @korbinib, @bianchini88, @DanFaria, @lauportell

Adding bibliography
  Gemfile
  _bibliography/references.bib
  _config.yml
  pages/your_domain/microbial_biotechnology.md
Owners: @bedroesb, @DanFaria, @bianchini88, @lauportell

Update plant_phenomics_assembly.md
  pages/tool_assembly/plant_phenomics_assembly.md
Owners: @korbinib, @bianchini88

Update plant_sciences.md
  pages/your_domain/plant_sciences.md
Owners: @DanFaria, @bianchini88, @lauportell

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa @marikapop @diana-pilvar
/pages/your_role       @smza 
/pages/data_life_cycle       @wittigue @floradanna @smza @marikapop
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa @diana-pilvar

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
