Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @bianchini88, @nazeeefa, @diana-pilvar, @smza, @GilOliveira, @marikapop, @wittigue, @korbinib, @frederikcoppens, @CaroleGoble

Cancer DM patient journey stages (#1630)
  images/cancer_dm_stages.png
Owners: @bedroesb

Update health_data.md
  pages/your_domain/health_data.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update health_data.md (#1634)
  pages/your_domain/health_data.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update data_management.yml
  _data/sidebars/data_management.yml
Owners: @bedroesb

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update tool_and_resource_list.yml (#1632)
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update _data/sidebars/data_management.yml
  _data/sidebars/data_management.yml
Owners: @bedroesb

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

shuffle cancer prevention headings
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

aligned headings
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

Update pages/your_domain/cancer_data_management.md
  pages/your_domain/cancer_data_management.md
Owners: @bianchini88, @GilOliveira, @floradanna

add news item
  _data/news.yml
Owners: @bedroesb

rename to cancer data
  _data/news.yml
  _data/sidebars/data_management.yml
  pages/your_domain/cancer_data.md
Owners: @bedroesb, @bianchini88, @GilOliveira, @floradanna

news update
  _data/news.yml
Owners: @bedroesb

Apply suggestions from code review
  _data/tool_and_resource_list.yml
  pages/your_domain/enzymology_and_biocatalysis.md
Owners: @wittigue, @bedroesb, @bianchini88, @GilOliveira, @floradanna

Create cancer_data_management.md (#1515)
  _data/news.yml
  _data/sidebars/data_management.yml
  _data/tool_and_resource_list.yml
  images/cancer_dm_stages.png
  pages/your_domain/cancer_data.md
Owners: @bedroesb, @wittigue, @bianchini88, @GilOliveira, @floradanna

Update news.yml
  _data/news.yml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

url sidebar fix
  _data/sidebars/data_management.yml
  pages/your_domain/enzymology_and_biocatalysis.md
Owners: @bedroesb, @bianchini88, @GilOliveira, @floradanna

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @bedroesb
CONTRIBUTING.md       @floradanna @bianchini88

# Different Sections
/pages/your_tasks       @floradanna @nazeeefa @diana-pilvar
/pages/your_role       @smza @GilOliveira @marikapop
/pages/data_life_cycle       @wittigue @smza @marikapop
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @bianchini88 @GilOliveira @floradanna
/pages/national_resources       @nazeeefa @diana-pilvar

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets @bedroesb
/_sass @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tools and resources
/_data/tool*     @wittigue @bedroesb
