Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

Rename data_security.md to data_protection.md
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update main_tool_and_resource_list.csv
  _data/main_tool_and_resource_list.csv
Owners: @bedroesb

Attempt at adding Hypothes.is for comments
  index.html
Owners: @bedroesb

General phrasing about protecting host related and sensitive contextual informat
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Structural update to several sections to make the text more consisten
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Restructured information about contextual information during data collection
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

update ref_to_main_resources
  _data/tool_and_resource_list.yml
  pages/national_resources/TEMPLATE_resources.md
  pages/national_resources/be_resources.md
  pages/national_resources/cy_resources.md
  pages/national_resources/cz_resources.md
  pages/national_resources/de_resources.md
  pages/national_resources/fr_resources.md
  pages/national_resources/gr_resources.md
  pages/national_resources/lu_resources.md
  pages/national_resources/nl_resources.md
  pages/national_resources/no_resources.md
  pages/national_resources/si_resources.md
  pages/national_resources/uk_resources.md
Owners: @wittigue, @bedroesb, @lauportell, @nazeeefa

instance_of make use of ID
  pages/contribute/page_metadata.md
  pages/national_resources/TEMPLATE_resources.md
  pages/national_resources/be_resources.md
  pages/national_resources/ch_resources.md
  pages/national_resources/cy_resources.md
  pages/national_resources/cz_resources.md
  pages/national_resources/ee_resources.md
  pages/national_resources/fi_resources.md
  pages/national_resources/fr_resources.md
  pages/national_resources/gr_resources.md
  pages/national_resources/lu_resources.md
  pages/national_resources/no_resources.md
  pages/national_resources/pt_resources.md
  pages/national_resources/se_resources.md
  pages/national_resources/si_resources.md
  pages/national_resources/uk_resources.md
Owners: @floradanna, @pinarpink, @bedroesb, @lauportell, @nazeeefa

fix id
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Spelling and grammar check
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

no table needed
  _data/main_tool_and_resource_list.csv
Owners: @bedroesb

sort natural
  _includes/resource-table-all.html
Owners: @bedroesb

Added references to GA4GH GDPR Briefs
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Fix: Link to GDPR Briefs is incompatible with markdown
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Minor updates to punctuation and emphasis
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Revert to origin
  index.html
Owners: @bedroesb

knetminer fix
  _data/tool_and_resource_list.yml
  pages/your_tasks/machine_actionability.md
Owners: @wittigue, @bedroesb, @DanFaria, @floradanna, @nazeeefa

knetminer fix
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update machine_actionability.md
  pages/your_tasks/machine_actionability.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update preview_changes.md
  pages/contribute/preview_changes.md
Owners: @floradanna, @pinarpink, @bedroesb

For editors section + how to preview changes on your own fork (#1288)
  _data/sidebars/contribute.yml
  images/change_branch.png
  images/commit_new_branch.png
  images/create_pr_from_fork.png
  images/deploy_using_gh_actions.png
  images/sync_branch.png
  images/your_own_fork.png
  pages/contribute/preview_changes.md
Owners: @bedroesb, @floradanna, @pinarpink

New Researcher role text
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

update xnat
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

update script
  .github/workflows/tool_list_conversion.yml
  _data/tool_and_resource_list.yml
  var/conversions.py
Owners: @bedroesb, @wittigue

update description
  var/conversions.py
Owners: @bedroesb

latest version
  _config.yml
Owners: @bedroesb

Update machine_actionability.md (#1293)
  pages/your_tasks/machine_actionability.md
Owners: @DanFaria, @floradanna, @nazeeefa

add scripts to open issues
  Gemfile
  _data/tool_and_resource_list.csv
  _includes/resource-table-all.html
  var/Issue_creator.py
  var/conversions.py
  var/issue_commentor.py
Owners: @bedroesb, @wittigue

add bioactive-conformational-ensemble
  pages/your_domain/biomolecular_simulation_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

no spreadsheet
  _config.yml
  _data/tool_and_resource_list.csv
  pages/your_domain/biomolecular_simulation_data.md
Owners: @bedroesb, @wittigue, @DanFaria, @pinarpink, @bianchini88, @lauportell

little fixes
  _sass/_custom_classes.scss
  index.html
  pages/about/editorial_board.md
  pages/about/support.md
Owners: @martin-nc, @bedroesb

add tools to transmed
  pages/tool_assembly/transmed_assembly.md
Owners: @korbinib, @bianchini88

more tool updates
  pages/tool_assembly/transmed_assembly.md
Owners: @korbinib, @bianchini88

transmed fix
  pages/tool_assembly/transmed_assembly.md
Owners: @korbinib, @bianchini88

add lumi
  pages/tool_assembly/csc_assembly.md
Owners: @korbinib, @bianchini88

Update plant_phenomics_assembly.md
  pages/tool_assembly/plant_phenomics_assembly.md
Owners: @korbinib, @bianchini88

bioexcel fixes
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update plant_phenomics.svg
  images/plant_phenomics.svg
Owners: @bedroesb

no GnpIS
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

add GnpIS
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
