Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

move GDPR content from data security to separate page
  pages/your_tasks/data_security.md
  pages/your_tasks/gdpr_compliance.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update de_resources.md (#1359)
  pages/national_resources/de_resources.md
Owners: @lauportell, @nazeeefa

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update si_resources.md
  pages/national_resources/si_resources.md
Owners: @lauportell, @nazeeefa

less css
  _sass/_custom_classes.scss
  _sass/_custom_variables.scss
Owners: @martin-nc, @bedroesb

fix
  _data/CONTRIBUTORS.yaml
  pages/national_resources/si_resources.md
Owners: @bedroesb, @lauportell, @nazeeefa

smaller fixes
  pages/national_resources/si_resources.md
Owners: @lauportell, @nazeeefa

remove personal data related links to DSW from data_security page
  pages/your_tasks/data_security.md
Owners: @DanFaria, @floradanna, @nazeeefa

Add to sidebar
  _data/sidebars/data_management.yml
Owners: @bedroesb

news item
  _data/news.yml
Owners: @bedroesb

idnetation error
  _data/sidebars/data_management.yml
Owners: @bedroesb

eol
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

moving to new way of tagging tools
  _data/tool_and_resource_list.yml
  pages/your_domain/structural_bioinformatics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Adding SDRF description to Proteomics domain (#1332)
  _data/tool_and_resource_list.yml
  pages/your_domain/proteomics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Update de_resources.md
  pages/national_resources/de_resources.md
Owners: @lauportell, @nazeeefa

remove CONVERGE
  pages/national_resources/si_resources.md
Owners: @lauportell, @nazeeefa

Update news.yml
  _data/news.yml
Owners: @bedroesb

Update si_resources.md (#1280)
  _data/CONTRIBUTORS.yaml
  _data/news.yml
  _data/sidebars/data_management.yml
  pages/national_resources/si_resources.md
Owners: @bedroesb, @lauportell, @nazeeefa

Add eLabFTW instance for Portugal and new contributor information
  _data/CONTRIBUTORS.yaml
  pages/national_resources/pt_resources.md
Owners: @bedroesb, @lauportell, @nazeeefa

no duplications (#1351)
  pages/your_domain/human_data.md
  pages/your_tasks/sensitive_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell, @floradanna, @nazeeefa

updated LS Login logo modified: NeLS_toolkit.svg modified: TSD_tool_assembly.svg modified: fi_csc_assembly.svg
  images/NeLS_toolkit.svg
  images/TSD_tool_assembly.svg
  images/fi_csc_assembly.svg
Owners: @bedroesb

Update fi_csc_assembly.svg
  images/fi_csc_assembly.svg
Owners: @bedroesb

Update gdpr_compliance.md
  pages/your_tasks/gdpr_compliance.md
Owners: @DanFaria, @floradanna, @nazeeefa

add gdpr_compliance
  _data/sidebars/data_management.yml
Owners: @bedroesb

updated LS Login logo (#1371)
  images/NeLS_toolkit.svg
  images/TSD_tool_assembly.svg
  images/fi_csc_assembly.svg
Owners: @bedroesb

fix urls
  pages/your_role/data_steward.md
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

page_id fix
  pages/national_resources/pt_resources.md
Owners: @lauportell, @nazeeefa

Update de_resources.md (#1369)
  pages/national_resources/de_resources.md
Owners: @lauportell, @nazeeefa

Add eLabFTW instance for Portugal and new contributor information (#1370)
  _data/CONTRIBUTORS.yaml
  pages/national_resources/pt_resources.md
Owners: @bedroesb, @lauportell, @nazeeefa

fix contributor placeholder
  _config.yml
Owners: @bedroesb

fix sticky button
  _config.yml
Owners: @bedroesb

Restructure pages on Human data and GDPR compliance (#1264)
  _data/sidebars/data_management.yml
  pages/data_life_cycle/planning.md
  pages/data_life_cycle/preserving.md
  pages/data_life_cycle/sharing.md
  pages/national_resources/no_resources.md
  pages/tool_assembly/csc_assembly.md
  pages/tool_assembly/omero_assembly.md
  pages/tool_assembly/transmed_assembly.md
  pages/tool_assembly/tsd_assembly.md
  pages/your_domain/human_data.md
  pages/your_domain/human_pathogen_genomics.md
  pages/your_role/policy_maker.md
  pages/your_role/principal_investigator.md
  pages/your_role/research_software_engineer.md
  pages/your_tasks/data_brokering.md
  pages/your_tasks/data_publication.md
  pages/your_tasks/data_security.md
  pages/your_tasks/data_sensitivity.md
  pages/your_tasks/existing_data.md
  pages/your_tasks/gdpr_compliance.md
Owners: @bedroesb, @wittigue, @floradanna, @smza, @lauportell, @nazeeefa, @korbinib, @bianchini88, @DanFaria, @pinarpink

Update plant_genomics_assembly.md
  pages/tool_assembly/plant_genomics_assembly.md
Owners: @korbinib, @bianchini88

Update plant_sciences.md
  pages/your_domain/plant_sciences.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update working_with_git.md
  pages/contribute/working_with_git.md
Owners: @floradanna, @pinarpink, @bedroesb

included reviewer comments, included new tools Changes to be committed: modified: _data/CONTRIBUTORS.yaml modified: _data/tool_and_resource_list.yml modified: pages/your_tasks/ethics.md
  _data/CONTRIBUTORS.yaml
  _data/tool_and_resource_list.yml
  pages/your_tasks/ethics.md
Owners: @bedroesb, @wittigue, @DanFaria, @floradanna, @nazeeefa

Update working_with_git.md (#1374)
  pages/contribute/working_with_git.md
Owners: @floradanna, @pinarpink, @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update structural_bioinformatics.md
  pages/your_domain/structural_bioinformatics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
