Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

New PI page for Your role (#1344)
  _data/sidebars/data_management.yml
  pages/your_role/principal_investigator.md
Owners: @bedroesb, @smza, @pinarpink

fix side menu
  _data/sidebars/data_management.yml
Owners: @bedroesb

Remove related content from Researcher role (#1354)
  pages/your_role/researcher.md
Owners: @smza, @pinarpink

Remove related content (#1353)
  pages/your_role/policy_maker.md
Owners: @smza, @pinarpink

update news
  _data/news.yml
Owners: @bedroesb

typo
  _data/news.yml
Owners: @bedroesb

change h2 to 600
  _sass/_custom_classes.scss
Owners: @martin-nc, @bedroesb

Adding new Trainer page to Your role
  _data/sidebars/data_management.yml
  pages/your_role/trainer.md
Owners: @bedroesb, @smza, @pinarpink

Updating contributors
  pages/your_role/principal_investigator.md
  pages/your_role/trainer.md
Owners: @smza, @pinarpink

Update data_transfer.md
  pages/your_tasks/data_transfer.md
Owners: @DanFaria, @floradanna, @nazeeefa

fix double quotes
  pages/your_tasks/data_transfer.md
Owners: @DanFaria, @floradanna, @nazeeefa

modified: structural_bioinformatics.md
  pages/your_domain/structural_bioinformatics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update data_management_plan.md
  pages/your_tasks/data_management_plan.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update data_management_plan.md
  pages/your_tasks/data_management_plan.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update data_management_plan.md
  pages/your_tasks/data_management_plan.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update licensing.md
  pages/your_tasks/licensing.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update data_organisation.md
  pages/your_tasks/data_organisation.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update covid19_data_portal.md
  pages/tool_assembly/covid19_data_portal.md
Owners: @korbinib, @bianchini88

Update microbial_biotechnology.md
  pages/your_domain/microbial_biotechnology.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update rare_disease_data.md
  pages/your_domain/rare_disease_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update your_role.md
  pages/your_role.md
Owners: @bedroesb

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update de_resources.md
  pages/national_resources/de_resources.md
Owners: @lauportell, @nazeeefa

Update storage.md
  pages/your_tasks/storage.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update data_publication.md
  pages/your_tasks/data_publication.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md (#1358)
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

add eu-general-data-protection-regulation
  pages/tool_assembly/tsd_assembly.md
Owners: @korbinib, @bianchini88

Update your_role.md (#1357)
  pages/your_role.md
Owners: @bedroesb

adding publisso
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update trainer.md
  pages/your_role/trainer.md
Owners: @smza, @pinarpink

no https://rdmkit.elixir-europe.org/ in urls
  pages/your_role/principal_investigator.md
  pages/your_tasks/machine_actionability.md
Owners: @smza, @pinarpink, @DanFaria, @floradanna, @nazeeefa

move to 2.1.0
  _config.yml
  _sass/_custom_classes.scss
Owners: @bedroesb, @martin-nc

Text clarification
  pages/your_role/trainer.md
Owners: @smza, @pinarpink

Adding new Trainer page to Your role (#1355)
  _data/sidebars/data_management.yml
  pages/your_role/principal_investigator.md
  pages/your_role/trainer.md
Owners: @bedroesb, @smza, @pinarpink

Apply typography suggestions (#1339)
  _sass/_bootstrap_variables.scss
  _sass/_custom_classes.scss
Owners: @martin-nc, @bedroesb

Update Policy Maker metadata description
  pages/your_role/policy_maker.md
Owners: @smza, @pinarpink

Update Policy Maker metadata description (#1361)
  pages/your_role/policy_maker.md
Owners: @smza, @pinarpink

add bii
  pages/your_domain/bioimaging_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

typo
  pages/your_domain/bioimaging_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

adding tools
  pages/your_domain/proteomics.md
  pages/your_tasks/data_analysis.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell, @floradanna, @nazeeefa
