Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

add Marine metagenomics portal
  _data/tool_and_resource_list.yml
  pages/national_resources/no_resources.md
  pages/tool_assembly/marine_metagenomics_assembly.md
Owners: @wittigue, @bedroesb, @lauportell, @nazeeefa, @korbinib, @bianchini88

no changes in national page
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

adding milestones
  var/issue_milestone.py
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

improved tools validator
  .github/workflows/tool_list_conversion.yml
  var/make_headings_capitalized.py
  var/tools_validator.py
Owners: @bedroesb

update tools file
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update ifb_assembly.md
  pages/tool_assembly/ifb_assembly.md
Owners: @korbinib, @bianchini88

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml (#1331)
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml (#1330)
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

small fixes
  pages/contribute/editors_checklist.md
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

Add files via upload
  images/fr_ifb_assembly.svg
Owners: @bedroesb

check if id is present
  var/tools_validator.py
Owners: @bedroesb

Adding SDRF description to Proteomics domain
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update data_analysis.md
  pages/your_tasks/data_analysis.md
Owners: @DanFaria, @floradanna, @nazeeefa

fix xnat pic
  pages/tool_assembly/xnat_pic_assembly.md
  pages/your_domain/bioimaging_data.md
  pages/your_tasks/data_analysis.md
  pages/your_tasks/data_organisation.md
  pages/your_tasks/storage.md
Owners: @korbinib, @bianchini88, @DanFaria, @pinarpink, @lauportell, @floradanna, @nazeeefa

no icloud
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Fixed inconsistencies in the headings
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update existing_data.md
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update pages/your_tasks/metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update Human data page to add tool in text
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update no_resources.md (#1333)
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md (#1335)
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update fi_resources.md
  pages/national_resources/fi_resources.md
Owners: @lauportell, @nazeeefa

update id
  pages/your_tasks/data_analysis.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update main_tool_and_resource_list.csv
  _data/main_tool_and_resource_list.csv
Owners: @bedroesb

Update main_tool_and_resource_list.csv (#1337)
  _data/main_tool_and_resource_list.csv
Owners: @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update human_data.md
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

gnpis sync with yaml
  _data/main_tool_and_resource_list.csv
Owners: @bedroesb

update human data
  _data/tool_and_resource_list.yml
  pages/your_domain/human_data.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

update documentation
  pages/contribute/editors_checklist.md
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

typo
  pages/contribute/editors_checklist.md
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

Added page description
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

removing DUO from text
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
