Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

Update pages/your_tasks/ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Ethics page (#1375)
  _data/CONTRIBUTORS.yaml
  _data/sidebars/data_management.yml
  _data/tool_and_resource_list.yml
  pages/your_tasks/ethics.md
Owners: @bedroesb, @wittigue, @DanFaria, @floradanna, @nazeeefa

Add ethics news item
  _data/news.yml
Owners: @bedroesb

Update news.yml
  _data/news.yml
Owners: @bedroesb

Add ethics news item (#1380)
  _data/news.yml
Owners: @bedroesb

Update ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update ethics.md
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

fix indentations
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

delete zero whitespace
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update ethics.md (#1381)
  pages/your_tasks/ethics.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Fix link for git.
  pages/your_domain/single_cell.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Correct link to the EC style guide
  pages/contribute/style_guide.md
Owners: @martin-nc

Correct link to the EC style guide (#1385)
  pages/contribute/style_guide.md
Owners: @martin-nc

Update fi_resources.md
  pages/national_resources/fi_resources.md
Owners: @lauportell, @nazeeefa

Update style_guide.md
  pages/contribute/style_guide.md
Owners: @martin-nc

Update fi_resources.md (#1386)
  pages/national_resources/fi_resources.md
Owners: @lauportell, @nazeeefa

Update tool/resource_list.yaml
  pages/your_tasks/data_security.md
  pages/your_tasks/storage.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update footer.yml
  _data/footer.yml
Owners: @bedroesb

Update README.md
  README.md
Owners: @bedroesb

Update style_guide.md (#1388)
  pages/contribute/style_guide.md
Owners: @martin-nc

update faircookbook links for plants
  pages/tool_assembly/plant_genomics_assembly.md
  pages/tool_assembly/plant_phenomics_assembly.md
  pages/your_domain/plant_sciences.md
Owners: @korbinib, @bianchini88, @DanFaria, @pinarpink, @lauportell

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml (#1392)
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml (#1393)
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Make CONTRIBUTORS more uniform (#1394)
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
  pages/tool_assembly/plant_genomics_assembly.md
  pages/tool_assembly/plant_phenomics_assembly.md
  pages/your_domain/plant_sciences.md
Owners: @wittigue, @bedroesb, @korbinib, @bianchini88, @DanFaria, @pinarpink, @lauportell

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
