Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

some improv
  _data/tool_and_resource_list.yml
  pages/your_domain/bioimaging_data.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Conclusion of day 2 RDMkit hackathon activities
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update nels_assembly.md
  pages/tool_assembly/nels_assembly.md
Owners: @korbinib, @bianchini88

tasks
  _data/tool_and_resource_list.yml
  pages/your_domain/bioimaging_data.md
  pages/your_tasks/costs_data_management.md
  pages/your_tasks/data_analysis.md
  pages/your_tasks/data_brokering.md
  pages/your_tasks/data_management_plan.md
  pages/your_tasks/data_publication.md
  pages/your_tasks/existing_data.md
  pages/your_tasks/licensing.md
  pages/your_tasks/machine_actionability.md
  pages/your_tasks/metadata_management.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell, @floradanna, @nazeeefa

Add Information Security section to Data protection page (#1251)
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

update tool assemblies
  _data/tool_and_resource_list.yml
  pages/tool_assembly/galaxy_assembly.md
  pages/tool_assembly/ifb_assembly.md
  pages/tool_assembly/marine_metagenomics_assembly.md
  pages/tool_assembly/molgenis_assembly.md
  pages/tool_assembly/nels_assembly.md
  pages/tool_assembly/omero_assembly.md
Owners: @wittigue, @bedroesb, @korbinib, @bianchini88

Updating Norway national resources page (#1257)
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

updates from contentathon (#1261)
  Gemfile
  _config.yml
  _data/CONTRIBUTORS.yaml
  _data/main_tool_and_resource_list.csv
  _data/news.yml
  _data/sidebars/about.yml
  _data/sidebars/data_management.yml
  _data/tool_and_resource_list.yml
  images/plant_phenomics.svg
  pages/about/about.md
  pages/about/contact.md
  pages/about/rdmkit_alliance.md
  pages/national_resources/de_resources.md
  pages/national_resources/ie_resources.md
  pages/national_resources/no_resources.md
  pages/national_resources/se_resources.md
  pages/national_resources/uk_resources.md
  pages/tool_assembly/plant_phenomics_assembly.md
  pages/your_domain/bioimaging_data.md
  pages/your_domain/human_data.md
  pages/your_tasks/data_analysis.md
  pages/your_tasks/data_brokering.md
  pages/your_tasks/data_protection.md
  pages/your_tasks/sensitive_data.md
Owners: @bedroesb, @wittigue, @frederikcoppens, @CaroleGoble, @lauportell, @nazeeefa, @korbinib, @bianchini88, @DanFaria, @pinarpink, @floradanna

temp fix table
  pages/your_domain/bioimaging_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

tasks
  pages/your_tasks/storage.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

fix galaxy assembly
  pages/tool_assembly/galaxy_assembly.md
Owners: @korbinib, @bianchini88

rename data protection page to data security
  _data/sidebars/data_management.yml
  pages/data_life_cycle/planning.md
  pages/data_life_cycle/preserving.md
  pages/your_role/data_steward_infrastructure.md
  pages/your_tasks/data_security.md
Owners: @bedroesb, @wittigue, @floradanna, @smza, @pinarpink, @DanFaria, @nazeeefa

GDPR compliance page
  _data/tool_and_resource_list.yml
  pages/data_life_cycle/sharing.md
  pages/national_resources/no_resources.md
  pages/tool_assembly/csc_assembly.md
  pages/tool_assembly/transmed_assembly.md
  pages/tool_assembly/tsd_assembly.md
  pages/your_domain/human_data.md
  pages/your_role/data_steward_policy.md
  pages/your_role/data_steward_research.md
  pages/your_tasks/GDPR_compliance.md
  pages/your_tasks/data_brokering.md
  pages/your_tasks/data_security.md
Owners: @wittigue, @bedroesb, @floradanna, @smza, @lauportell, @nazeeefa, @korbinib, @bianchini88, @DanFaria, @pinarpink

Update data_organisation.md
  pages/your_tasks/data_organisation.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update xnat_pic_assembly.md
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

Update proteomics.md
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update existing_data.md
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update xnat_pic_assembly.md
  pages/tool_assembly/xnat_pic_assembly.md
Owners: @korbinib, @bianchini88

Update proteomics.md
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

include types of data aquisition in human data page
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

include vilem ded into contributers
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update pages/national_resources/no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

plant phenome
  _data/tool_and_resource_list.yml
  pages/tool_assembly/plant_phenomics_assembly.md
Owners: @wittigue, @bedroesb, @korbinib, @bianchini88

Update pages/national_resources/no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update news.yml
  _data/news.yml
Owners: @bedroesb

Update Ireland national resource page (#1256)
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

minor edits
  pages/your_tasks/GDPR_compliance.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update costs_data_management.md (#1254)
  pages/your_tasks/costs_data_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

minor edits
  pages/your_tasks/GDPR_compliance.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update no_resources.md (#1262)
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update news.yml (#1267)
  _data/news.yml
Owners: @bedroesb

Update existing_data.md
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa
