Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @nazeeefa, @marikapop, @diana-pilvar, @smza, @GilOliveira, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

Update human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Adding bibliography for the human pathogen genomics domain page
  _bibliography/references.bib
  pages/your_domain/human_pathogen_genomics.md
Owners: @bedroesb, @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update pages/your_domain/human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Added news item of revamped human pathogen page
  _data/news.yml
Owners: @bedroesb

Update human_pathogen_genomics.md (#1526)
  _bibliography/references.bib
  _data/CONTRIBUTORS.yaml
  _data/news.yml
  _data/tool_and_resource_list.yml
  pages/your_domain/human_pathogen_genomics.md
Owners: @bedroesb, @wittigue, @bianchini88, @lauportell, @GilOliveira

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_resource_update.md
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml (#1552)
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_resource_update.md (#1554)
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @bedroesb

Update tool_and_resource_list.yml (#1555)
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

fix spelling
  pages/data_life_cycle.md
Owners: @bedroesb

fix spelling (#1556)
  pages/data_life_cycle.md
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Add IDTk in the corresponding pages
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

Update COVID-19 Data Portal page
  pages/tool_assembly/covid19_data_portal.md
Owners: @korbinib, @bianchini88

Update human_pathogen_genomics.md
  pages/your_domain/human_pathogen_genomics.md
Owners: @bianchini88, @lauportell, @GilOliveira

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @bedroesb
/pages/contribute/copyright.md
/pages/contribute/style_guide.md
CONTRIBUTING.md       @floradanna

# Different Sections
/pages/your_tasks       @floradanna @nazeeefa @marikapop @diana-pilvar
/pages/your_role       @smza @GilOliveira
/pages/data_life_cycle       @wittigue @floradanna @smza @marikapop
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @bianchini88 @lauportell @GilOliveira
/pages/national_resources       @lauportell @nazeeefa @diana-pilvar

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md
/pages/about/privacy.md
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets @bedroesb
/_sass @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
