Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

Update cy_resources.md
  pages/national_resources/cy_resources.md
Owners: @lauportell, @nazeeefa

Fixed issues with rendering the “pipe” | character
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update uk_resources.md
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Update uk_resources.md (#1281)
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Update uk_resources.md
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Addressing edditor's comments
  pages/your_tasks/data_organisation.md
Owners: @DanFaria, @floradanna, @nazeeefa

fix counter homepage
  index.html
Owners: @bedroesb

Fix tool counter homepage (#1283)
  _config.yml
  index.html
Owners: @bedroesb

Post-contentathon follow-up 1
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update uk_resources.md
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Update uk_resources.md (#1284)
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Update human_data.md
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update data_organisation.md
  pages/your_tasks/data_organisation.md
Owners: @DanFaria, @floradanna, @nazeeefa

How to choose appropriate file formats (#1250)
  _data/CONTRIBUTORS.yaml
  pages/your_tasks/data_organisation.md
Owners: @bedroesb, @DanFaria, @floradanna, @nazeeefa

Update uk_resources.md
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

revert toc
  _config.yml
Owners: @bedroesb

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update uk_resources.md
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Update uk_resources.md (#1285)
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Update uk_resources.md (#1282)
  pages/national_resources/uk_resources.md
Owners: @lauportell, @nazeeefa

Update ie_resources.md (#1286)
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Post-contentathon work session 2
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Updates to publish Ireland national resources page (#1271)
  _data/CONTRIBUTORS.yaml
  _data/news.yml
  _data/sidebars/data_management.yml
  pages/national_resources/ie_resources.md
Owners: @bedroesb, @lauportell, @nazeeefa

Update ie_resources.md
  pages/national_resources/ie_resources.md
Owners: @lauportell, @nazeeefa

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

update documentation
  pages/contribute/editors_checklist.md
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

typo
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

Use GitHub Actions for Jekyll and GitHub Pages (#1121)
  .github/workflows/jekyll.yml
  .github/workflows/tool_list_conversion.yml
  Gemfile
  Makefile
Owners: @bedroesb

new documentation
  _data/sidebars/contribute.yml
  images/change_branch.png
  images/commit_new_branch.png
  images/create_pr_from_fork.png
  images/deploy_using_gh_actions.png
  images/sync_branch.png
  images/your_own_fork.png
  pages/contribute/preview_changes.md
Owners: @bedroesb, @floradanna, @pinarpink

Fix workflow trigger
  .github/workflows/jekyll.yml
Owners: @bedroesb

Update covid19_data_portal.md
  pages/tool_assembly/covid19_data_portal.md
Owners: @korbinib, @bianchini88

Update covid19_data_portal.md (#1290)
  pages/tool_assembly/covid19_data_portal.md
Owners: @korbinib, @bianchini88

Update before WP9 meeting
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Attempt to fix links to related_pages
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Added GenEpiO Consortium
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Added PHA4GE
  pages/your_domain/human_pathogen_genomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update data_steward_research.md
  pages/your_role/data_steward_research.md
Owners: @smza, @pinarpink
