Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @nazeeefa, @marikapop, @diana-pilvar, @smza, @GilOliveira, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

Update pages/tool_assembly/covid19_data_portal.md
  pages/tool_assembly/covid19_data_portal.md
Owners: @korbinib, @bianchini88

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update Portugal resources page
  pages/national_resources/pt_resources.md
Owners: @lauportell, @nazeeefa, @diana-pilvar

Add eLabFTW and ELN-finder
  _data/tool_and_resource_list.yml
  pages/your_tasks/metadata_management.md
Owners: @wittigue, @bedroesb, @floradanna, @nazeeefa, @marikapop, @diana-pilvar

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

enable affiliation filtering
  pages/tool_assembly.md
Owners: @bedroesb

Grammar fixes
  pages/your_tasks/metadata_management.md
Owners: @floradanna, @nazeeefa, @marikapop, @diana-pilvar

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update Portugal resources page (#1561)
  pages/national_resources/pt_resources.md
Owners: @lauportell, @nazeeefa, @diana-pilvar

Better intro
  pages/your_tasks/machine_actionability.md
Owners: @floradanna, @nazeeefa, @marikapop, @diana-pilvar

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @floradanna, @nazeeefa, @marikapop, @diana-pilvar

Update gr_resources.md
  pages/national_resources/gr_resources.md
Owners: @lauportell, @nazeeefa, @diana-pilvar

Update metadata_management.md
  pages/your_tasks/metadata_management.md
Owners: @floradanna, @nazeeefa, @marikapop, @diana-pilvar

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml (#1567)
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Update metadata_management.md (#1565)
  _data/tool_and_resource_list.yml
  pages/your_tasks/metadata_management.md
Owners: @wittigue, @bedroesb, @floradanna, @nazeeefa, @marikapop, @diana-pilvar

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @bedroesb
/pages/contribute/copyright.md
/pages/contribute/style_guide.md
CONTRIBUTING.md       @floradanna

# Different Sections
/pages/your_tasks       @floradanna @nazeeefa @marikapop @diana-pilvar
/pages/your_role       @smza @GilOliveira
/pages/data_life_cycle       @wittigue @floradanna @smza @marikapop
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @bianchini88 @lauportell @GilOliveira
/pages/national_resources       @lauportell @nazeeefa @diana-pilvar

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md
/pages/about/privacy.md
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets @bedroesb
/_sass @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
