Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

update path to tools and resources
  pages/contribute/editors_checklist.md
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

latest version
  _config.yml
Owners: @bedroesb

adding more tools
  _data/tool_and_resource_list.yml
  pages/your_domain/proteomics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

add CATH
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

overwriting style
  _sass/_custom_classes.scss
Owners: @martin-nc, @bedroesb

take out tools without context
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

Add missing past contributors
  pages/your_role/data_steward.md
Owners: @smza, @pinarpink

Update data_steward.md
  pages/your_role/data_steward.md
Owners: @smza, @pinarpink

Add missing past contributors (#1363)
  pages/your_role/data_steward.md
Owners: @smza, @pinarpink

add news item
  _data/news.yml
Owners: @bedroesb

data lifecycle fix
  _config.yml
Owners: @bedroesb

same graphics
  _config.yml
  _sass/_bootstrap_variables.scss
  _sass/_custom_classes.scss
  pages/national_resources.md
  pages/tool_assembly.md
  pages/your_domain.md
  pages/your_role.md
  pages/your_tasks.md
Owners: @bedroesb, @martin-nc

fix type config
  _config.yml
  pages/tool_assembly.md
  pages/your_domain.md
  pages/your_role.md
  pages/your_tasks.md
Owners: @bedroesb

fix path to sections
  _config.yml
  pages/tool_assembly.md
  pages/your_domain.md
  pages/your_role.md
  pages/your_tasks.md
Owners: @bedroesb

add MineProt
  _data/tool_and_resource_list.yml
  pages/your_domain/structural_bioinformatics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Update no_resources.md
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

Update no_resources.md (#1365)
  pages/national_resources/no_resources.md
Owners: @lauportell, @nazeeefa

with icons
  _config.yml
Owners: @bedroesb

Update tool/resource_list.yaml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

adding poster to outreach
  pages/about/outreach.md
Owners: @bedroesb

update structural_bioinformatics.md
  pages/your_domain/structural_bioinformatics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Fix GitHub Action
  pages/national_resources/cy_resources.md
Owners: @lauportell, @nazeeefa

typos
  pages/national_resources/cy_resources.md
Owners: @lauportell, @nazeeefa

add coordinator
  pages/national_resources/cy_resources.md
Owners: @lauportell, @nazeeefa

add to side bar + news article
  _data/news.yml
  _data/sidebars/data_management.yml
Owners: @bedroesb

lower case
  pages/data_life_cycle/sharing.md
  pages/national_resources/no_resources.md
  pages/tool_assembly/csc_assembly.md
  pages/tool_assembly/transmed_assembly.md
  pages/tool_assembly/tsd_assembly.md
  pages/your_domain/human_data.md
  pages/your_tasks/data_brokering.md
  pages/your_tasks/gdpr_compliance.md
Owners: @wittigue, @floradanna, @smza, @lauportell, @nazeeefa, @korbinib, @bianchini88, @DanFaria, @pinarpink

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

Update CONTRIBUTORS.yaml
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

apply similar changes to data_sensitivity
  _data/sidebars/data_management.yml
  pages/tool_assembly/csc_assembly.md
  pages/tool_assembly/omero_assembly.md
  pages/tool_assembly/tsd_assembly.md
  pages/your_domain/human_data.md
  pages/your_domain/human_pathogen_genomics.md
  pages/your_role/policy_maker.md
  pages/your_role/principal_investigator.md
  pages/your_role/research_software_engineer.md
  pages/your_tasks/data_publication.md
  pages/your_tasks/data_security.md
  pages/your_tasks/data_sensitivity.md
  pages/your_tasks/existing_data.md
  pages/your_tasks/gdpr_compliance.md
Owners: @bedroesb, @korbinib, @bianchini88, @DanFaria, @pinarpink, @lauportell, @smza, @floradanna, @nazeeefa

update contributors
  pages/national_resources/cy_resources.md
Owners: @lauportell, @nazeeefa

add contributor
  _data/CONTRIBUTORS.yaml
  pages/your_domain/structural_bioinformatics.md
Owners: @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

adding tool to new format
  _data/tool_and_resource_list.yml
  pages/your_domain/proteomics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Update cy_resources.md (#1226)
  _data/CONTRIBUTORS.yaml
  _data/news.yml
  _data/sidebars/data_management.yml
  pages/national_resources/cy_resources.md
Owners: @bedroesb, @lauportell, @nazeeefa

better theming
  _sass/_custom_classes.scss
  _sass/_custom_variables.scss
Owners: @martin-nc, @bedroesb

update structural_bioinformatics.md
  pages/your_domain/structural_bioinformatics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

fix assembly
  pages/tool_assembly/molgenis_assembly.md
Owners: @korbinib, @bianchini88

Extend human page by different types of data acquisition (#1266)
  pages/your_domain/human_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

correct redirect
  pages/your_tasks/data_sensitivity.md
Owners: @DanFaria, @floradanna, @nazeeefa

adding poster to outreach (#1368)
  pages/about/outreach.md
Owners: @bedroesb

add MineProt (#1364)
  _data/tool_and_resource_list.yml
  pages/your_domain/structural_bioinformatics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell
