Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @MijkeJetten, @wittigue, @smza, @korbinib, @frederikcoppens, @CaroleGoble, @roper79

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Different areas
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink
/pages/your_problem       @DanFaria @floradanna
/pages/your_role       @MijkeJetten @pinarpink
/pages/rdm_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib
/pages/your_domain       @DanFaria @pinarpink
/pages/about/about.md       @frederikcoppens @CaroleGoble
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble
/assets       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @roper79 @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

fairsharing collection fix + tooltable update (#632)
  _data/main_tool_and_resource_list.csv
  _data/tool_and_resource_list.yml
  _includes/toollist.html
  pages/contribute/tool_resource_update.md
  var/tool_table2yaml.py
Owners: @bedroesb, @wittigue, @floradanna, @pinarpink

documentation update
  pages/contribute/editorial_board_guide.md
  pages/contribute/markdown_cheat_sheet.md
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

updating the scripts
  .github/workflows/list_conversion.yml
  .github/workflows/list_validation.yml
  var/tool_table2yaml.py
Owners: @bedroesb

adding more country tags to DSW
  _data/main_tool_and_resource_list.csv
Owners: @bedroesb

search icon in search
  _includes/landingpage.html
  _includes/sidebar.html
  _includes/topnav.html
  assets/css/main.css
Owners: @bedroesb, @martin-nc

Update existing_data.md
  pages/your_problem/existing_data.md
Owners: @DanFaria, @floradanna

Top nav improvements + other small changes (#629)
  _config.yml
  _data/topnav.yml
  _includes/contributor-carousel.html
  _includes/contributor-page.html
  _includes/footer.html
  _includes/landingpage.html
  _includes/sidebar.html
  _includes/topnav.html
  assets/css/main.css
  pages/contribute/editorial_board_guide.md
  pages/contribute/markdown_cheat_sheet.md
  pages/contribute/tool_resource_update.md
Owners: @bedroesb, @martin-nc, @floradanna, @pinarpink

Format fix for the style guide
  pages/contribute/style_guide.md
Owners: @martin-nc

Adding info about the Noun Project
  pages/contribute/style_guide.md
Owners: @martin-nc

Minor fixes for the style guide (#635)
  pages/contribute/style_guide.md
Owners: @martin-nc

horizon in footer
  _includes/footer.html
Owners: @bedroesb

no highlighted current page
  _includes/toollist.html
  assets/css/main.css
Owners: @bedroesb, @martin-nc

AddingHorizon Europe reference
  pages/about/about.md
Owners: @frederikcoppens, @CaroleGoble

seperate panels
  _includes/page-metadata.html
  assets/css/main.css
Owners: @bedroesb, @martin-nc

existing data page (#607)
  _data/sidebars/main.yml
  pages/your_problem/existing_data.md
Owners: @roper79, @bedroesb, @DanFaria, @floradanna

clearer
  _includes/page-metadata.html
Owners: @bedroesb

AddingHorizon Europe reference (#637)
  pages/about/about.md
Owners: @frederikcoppens, @CaroleGoble

start other registry badges
  _includes/page-metadata.html
  _includes/toollist.html
  assets/css/main.css
Owners: @bedroesb, @martin-nc

Transmed assembly page added
  _data/CONTRIBUTORS.yaml
  images/TransMed_assembly.svg
  pages/tool_assembly/transmed_assembly.md
Owners: @bedroesb, @korbinib

fixes to newly added contributors
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

first cleanup
  _layouts/default.html
  _layouts/page.html
  pages/rdm_cycle/TEMPLATE_rdm_cycle.md
  pages/rdm_cycle/analysing.md
  pages/rdm_cycle/collecting.md
  pages/rdm_cycle/planning.md
  pages/rdm_cycle/preserving.md
  pages/rdm_cycle/processing.md
  pages/rdm_cycle/reusing.md
  pages/rdm_cycle/sharing.md
Owners: @bedroesb, @wittigue, @floradanna, @smza

registry info
  _includes/toollist.html
  pages/all_tools_and_resources.md
Owners: @bedroesb

registry badge update
  _includes/toollist.html
  assets/css/main.css
Owners: @bedroesb, @martin-nc

typo
  _includes/toollist.html
Owners: @bedroesb

dark badge
  assets/css/main.css
Owners: @martin-nc, @bedroesb

tooltip
  _includes/toollist.html
Owners: @bedroesb

margin change
  _includes/toollist.html
Owners: @bedroesb

Update NO_TSD_assembly.md
  pages/tool_assembly/NO_TSD_assembly.md
Owners: @korbinib

Update NO_TSD_assembly.md (#643)
  pages/tool_assembly/NO_TSD_assembly.md
Owners: @korbinib

page tag added, linked to side bar
  _data/sidebars/main.yml
  _data/tags.yml
  pages/tool_assembly/transmed_assembly.md
Owners: @roper79, @bedroesb, @korbinib

Delete tags.yml
  _data/tags.yml
Owners: @bedroesb

page_tag changed from list-->str
  pages/tool_assembly/transmed_assembly.md
Owners: @korbinib

Transmed assembly page added (#640)
  _data/CONTRIBUTORS.yaml
  _data/sidebars/main.yml
  images/TransMed_assembly.svg
  pages/tool_assembly/transmed_assembly.md
Owners: @bedroesb, @roper79, @korbinib

Update transmed_assembly.md
  pages/tool_assembly/transmed_assembly.md
Owners: @korbinib

Update transmed_assembly.md (#644)
  pages/tool_assembly/transmed_assembly.md
Owners: @korbinib

better table css
  assets/css/main.css
Owners: @martin-nc, @bedroesb
