Repository elixir-europe/rdmkit, changes with the owners that CODEOWNERS names for each.
All owners: @bedroesb, @floradanna, @pinarpink, @martin-nc, @DanFaria, @nazeeefa, @smza, @wittigue, @korbinib, @bianchini88, @lauportell, @frederikcoppens, @CaroleGoble

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @pinarpink @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna @pinarpink

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa
/pages/your_role       @smza @pinarpink
/pages/data_life_cycle       @wittigue @floradanna @smza
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @pinarpink @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb

add missing tools in the text - issue 1316
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

add eu-general-data-protection-regulation
  pages/your_tasks/sensitive_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

eu-general-data-protection-regulation
  pages/your_tasks/data_protection.md
Owners: @DanFaria, @floradanna, @nazeeefa

add ada-discovery-analytics
  pages/tool_assembly/transmed_assembly.md
Owners: @korbinib, @bianchini88

typo
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb

New Policy maker role text
  pages/your_role/data_steward_policy.md
Owners: @smza, @pinarpink

apply decisions UX session
  _sass/_bootstrap_variables.scss
  _sass/_custom_classes.scss
Owners: @martin-nc, @bedroesb

Update tool/resource_list.yaml
  pages/your_domain/human_data.md
  pages/your_tasks/data_protection.md
  pages/your_tasks/sensitive_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell, @floradanna, @nazeeefa

Draft: How to write a README file (#1255)
  pages/your_tasks/data_organisation.md
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Add definition of data in the data life cycle landing page (#1252)
  pages/data_life_cycle.md
Owners: @bedroesb

Update intrinsically_disordered_proteins.md
  pages/your_domain/intrinsically_disordered_proteins.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

add tools
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update cy_resources.md
  pages/national_resources/cy_resources.md
Owners: @lauportell, @nazeeefa

Update compliance_monitoring.md
  pages/your_tasks/compliance_monitoring.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update dm_coordination.md
  pages/your_tasks/dm_coordination.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update README.md
  README.md
Owners: @bedroesb

update content for new tool linking
  _data/tool_and_resource_list.yml
  pages/your_domain/proteomics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

update to latest evrsion
  Gemfile
Owners: @bedroesb

add link to 4dn tools
  pages/tool_assembly/omero_assembly.md
Owners: @korbinib, @bianchini88

link to resources
  pages/your_domain/bioimaging_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

add missing dot
  pages/tool_assembly/omero_assembly.md
Owners: @korbinib, @bianchini88

fix structure
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

add knowledgebases
  _data/tool_and_resource_list.yml
  pages/your_domain/proteomics.md
Owners: @wittigue, @bedroesb, @DanFaria, @pinarpink, @bianchini88, @lauportell

Update proteomics.md
  pages/your_domain/proteomics.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

Update existing_data.md
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update tool_and_resource_list.yml
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

no related pages checker need
  var/tools_validator.py
Owners: @bedroesb

Update existing_data.md
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

Update existing_data.md
  pages/your_tasks/existing_data.md
Owners: @DanFaria, @floradanna, @nazeeefa

add new contributer
  _data/CONTRIBUTORS.yaml
Owners: @bedroesb

no PAA
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

taking out unneeded tools
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

add docker hub
  pages/your_tasks/data_analysis.md
Owners: @DanFaria, @floradanna, @nazeeefa

adding some tools
  pages/tool_assembly/transmed_assembly.md
  pages/your_tasks/identifiers.md
  pages/your_tasks/machine_actionability.md
Owners: @korbinib, @bianchini88, @DanFaria, @floradanna, @nazeeefa

no proteowizard
  _data/tool_and_resource_list.yml
Owners: @wittigue, @bedroesb

adding gitlab
  pages/your_tasks/data_organisation.md
Owners: @DanFaria, @floradanna, @nazeeefa

adding openscienceframework
  pages/your_tasks/metadata_management.md
Owners: @DanFaria, @floradanna, @nazeeefa

adding medeley data
  pages/your_domain/biomolecular_simulation_data.md
Owners: @DanFaria, @pinarpink, @bianchini88, @lauportell

latets evrsion
  _config.yml
Owners: @bedroesb

indentation
  pages/contribute/tool_resource_update.md
Owners: @floradanna, @pinarpink, @bedroesb
